<h1>WHAT IS YOUR TEAM</h1>

<%= form_for(Team.new, :html => { :class => 'well' }) do |f| %>

  <%= label_tag 'Name' %>
  <%= f.text_field :name %>

  <%= label_tag 'Size' %>
  <% if Team.waiting %>
    <p><%= Team.waiting.players_count %></p>
  <% else %>
    <%= f.text_field :players_count %>
  <% end %>

  <br />

  <button type="submit" class="btn">DO IT</button>

<% end %>

<% if Team.waiting %>
  <h2><%= Team.waiting %> is waiting.</h2>
<% end %>
