<% content_for :refresh_tag do %> 
  <meta http-equiv="refresh" content="2"/>
<% end %>

<% if @game %>
  <div class="page-header">
    <h1>GAME ON</h1>
  </div>
  <div class="row">
    <% @game.teams.each do |team| %>
      <div class="span6 scoreboard-box">
        <div class="shrinker">
          <h2><%= team %></h2>
          <h3>Player <%= team.turn %> of <%= team.players_count %></h3>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="span12">&nbsp;</div>
  </div>
  <div class="row">
    <% @game.teams.each do |team| %>
      <div class="span6 scoreboard-box">
        <div class="shrinker">
          <h2>CHALLENGE</h2>
          <h3><%= team.flip %></h3>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="span12">&nbsp;</div>
  </div>
  <div class="row">
    <% @game.teams.each do |team| %>
      <div class="span6 scoreboard-box">
        <div class="shrinker">
         <h2>ATTEMPT</h2>
         <h3><%= team.turn_attempts %></h3>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="page-header">
    <h1>THERE IS NO GAME</h1>
  </div>
<% end %>
